.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 9999;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.hoverData{
    background-color: white;
    color: black;
    width: 20px;
    height: 20px;
    z-index: 9;
}
