.dot{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 350px;
    z-index: 99999;
}
