.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 130px;
    right: 1120px;
    z-index: 9;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.hoverData{
    background-color: transparent;
    border-radius: 10%;
    display: inline-block;
    padding: 5px;
    color: black;
    font-size: larger;
    height: 10px;
    z-index: 999;
}
